<launch>
  <!-- Jackal accessories which may be modeled. Pass true to enable. -->
  <arg name="front_laser" default="false" />

  <include file="$(find jackal_description)/launch/description.launch">
    <arg name="accessories" value="true" />
    <arg name="front_laser" value="$(arg front_laser)" />
    <arg name="camera" value="$(arg camera)" />
  </include>

  <param name="use_gui" value="true"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find jackal_viz)/rviz/model.rviz" />
</launch>
